/* Add a black background color to the top navigation */
.topnav {
  background-color: skyblue;
  overflow: hidden;
  float: right;
  height: 171px;
  font-size: 105px;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a: hover {
  background-color: navy;
  color: white;
}
/* Add a color to the active/current link */
.topnav a.active {
  background-color: red;
  color: white;
}
.subscribe {
  background-image: url("../images/nyamachoma.jpg");
  height: 479px;
}
section {
  font-family: 'Merienda';
  background-color: skyblue;
  height: 180px;
  padding-top: 15px;
  padding-left: -5px;
  font-weight: bold;
}
.photos {
  display:none;
}
 /* .home {
  display:none;
} */
