.heading {
  background-color: skyblue;
  width: 1140px;
}
@font-face {
 font-family: freeBooter;
 src: url(../fonts/freeBooter1.ttf);
}
.headTitle {
 color: #A51F02;
 text-align: center;
 font-family: freeBooter;
 font-size: 85px;
 text-shadow: -3px 2px 0px rgba(192, 220, 63, 1);
 font-weight: 500;
 transform: rotate(-8deg);
 -ms-transform: rotate(-8deg); /* IE 9 */
 -webkit-transform: rotate(-8deg); /* Safari 3-8 */
 margin: 20px 100px 75px 100px;
}
#headTitle2 {
 padding-left: 5%;
}
.topnav {
  overflow: hidden;
  background-color: skyblue;
  width: 1140px;
}
.topnav a:hover {
  background-color: navy;
  color: white;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 185px;
}
.home {
  overflow: hidden;
}
.jumbotron{
  display: none;
}
#beef:hover,#chapati:hover,#chicken:hover,#githeri:hover,#kachumbari:hover,#kaimati:hover,#matoke:hover,#nyama:hover,#pilau:hover,#sukuma:hover,#ugali:hover {
  text-decoration: underline;
  color: navy;
  cursor: pointer;
}
.about{
  background-color: skyblue;
  width: 1140px;
  height: 400px;
  font-size: 1.6em;
  padding-left: 100px;
  padding-right: 120px;
  font-family: 'Itim', cursive;
  font-weight: bold;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu{
  background-color: #C0DC3F;
  padding: 25px;
  width: 1140px;
  font-family: 'Sofia', cursive;
}
.photos{
  padding: 25px;
  background-color: skyblue;
  width: 1140px;
  height: 500px;
}
.contact{
  background-image: url("../images/CHICKEN-SAMOSA.jpg");
  padding-top: 50px;
  height: 250px;
  width: 1140px;
}
.review {
  width: 1140px;
  font-size: 1.1em;

  font-family: 'Petit Formal Script', cursive;
  background-color: #C0DC3F;
}
#stars {
  text-align: center;
  width: 270px;
  display: inline-block;
  margin-left: 36%;
}
input.star {
  display: none;
}
label.star {
  float: right;
  padding: 10px;
  font-size: 25px;
  color: skyblue;
  transition: all .2s;
}
input.star:checked~label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}
input.star-5:checked~label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}
input.star-1:checked~label.star:before {
  color: #F62;
}
label.star:hover {
  transform: rotate(-15deg) scale(1.5);
}
label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
input[type=submit] {
  background-color: skyblue;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #1e90ff;
}
#mc_embed_signup {
  background: transparent;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
}
span.icon{
  float: right;
  margin-right: 400px;
  margin-top: 5px;
}
#textArea{
  width: 75%;
}
.panel-body {
  width: 80%
  padding:15px;
}
.about {
  display: none;
}
.menu {
  display: none;
}
.contact {
  display: none;
}
.review {
  display: none;
}
.photos {
  display: none;
}
.navbar {
  overflow: hidden;
  background-color: skyblue;
  width: 1100px;
}
.navbar a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-size: 17px;
  padding: 10px;
}
.navbar a:hover {
  background: navy;
  color: white;
}
hr {
  display: block;
  border-color: #31708f;
  border-style: inset;
  border-width: 2px;
  width: 1100px;
}
#icons {
  width: 150px;
  margin-left: 400px;
}
.footer {
  background-color:skyblue;
  padding: 25px;
  width: 1140px;
}
.icon {
  height: 25px;
  width: 25px;
}
.licence {
  text-align: center;
  margin-top: 15px;
}

